<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
    <%= simple_form_for @robot do |f| %>
      <%= f.input :name, label: "Robot name" %>
      <%= f.input :category, label: "Category" %>
      <%= f.input :description, label: "Description" %>
      <%= f.input :price, label: "Price" %>
      <%= f.button :submit, "Update robot", class: "small-btn-cta" %>
    <% end %>
    </div>
  </div>
</div>
