<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-lg-start">Here are the robots you can rent</h1>
      <div class="d-flex justify-content-between">
        <p>You can also list you own robot for other to rent</p>
        <%= link_to "Add your robot", new_robot_path, class: "link-color btn" %>
      </div>
    </div>
  </div>
</div>
<div class="row bg-black" data-controller="category">
  <div class="col-2 mt-3">
    <ol class="category-filters gap-2 d-flex flex-column">
      <li class= "category-filter" data-action="click->category#showall"><%= "All" %></li>
      <% draft_categories = [] %>
      <% @robots.each do |robot| %>
        <% draft_categories << robot.category.downcase %>
      <% end %>
      <% categories = draft_categories.uniq %>
      <% categories.each do |category| %>
        <li class= "category-filter" data-action="click->category#showitems" data-category="<%= category.downcase %>"><%= category.capitalize %></li>
        <% end %>
    </ol>
  </div>
  <div class="col-10">
    <div class="cards">
      <% @robots.each do |robot| %>
        <div class="card" data-category-target="item" data-category="<%= robot.category.downcase %>">
          <div class="card-title"><%= link_to "#{robot.name}", robot %></div>
          <div class="card-photo"><%= cl_image_tag robot.photo.key if robot.photo.attached? %></div>
          <div class="card-text"><%= "#{robot.price.round}€" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="stylish-map-container" >
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
