<%= "Here are the robots you can rent or buy today" %>
<% @robots.each do |robot| %>
<p class= "btn"><%= link_to "#{robot.name}, #{robot.price}", robot %></p>
<% end %>
<div>
<%= "Choose a category:" %>
<%# <%= simple_form_for(robot) do |f| %>
  <%# <%= f.input :category %>
<%# <% end %>
</div>
<p class= "btn"><%= link_to "New robot", new_robot_path %></p>
<p class= "btn"><%= link_to "Home", root_path %></p>
