<div class="border-bottom border-black bg-white">
  <div class="container d-flex py-1">
  <p class= "btn small-btn"><%= link_to "Home", root_path, class: "link-color" %></p>
  <p class= "btn small-btn"><%= link_to "New robot", new_robot_path, class: "link-color" %></p>
    <div id="title"><strong><%= "Here are the robots you can rent or buy today" %></strong>
    </div>
  </div>
</div>
<ul class= "cards">
  <% @robots.each do |robot| %>
  <div id="card-type"><%= link_to "#{robot.name} #{robot.price.round}€", robot, class: "link-color" %>
  </div>
  <% end %>
</ul>
<div>
<%# <%= "Choose a category:" %>
<%# <%= simple_form_for(robot) do |f| %>
  <%# <%= f.input :category %>
<%# <% end %>
</div>
