<div class="border-bottom border-black bg-black">
    <% if user_signed_in? %>
      <p><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "simple-link" %></p>
    <% end %>
  <div class="container d-flex py-1">
    <p class= "btn small-btn-light"><%= link_to "Home", root_path, class: "link-color" %></p>
    <p class= "btn small-btn-light"><%= link_to "New robot", new_robot_path, class: "link-color" %></p>
    <div id="title"><strong><%= "Here are the robots you can rent or buy today" %></strong></div>
  </div>
</div>
<div class="row bg-black" data-controller="category">
  <div class="col-2 mt-3">
    <ol>
      <li class= "btn small-btn" data-action="click->category#showall"><%= "All" %></li>
      <% draft_categories = [] %>
      <% @robots.each do |robot| %>
        <% draft_categories << robot.category %>
      <% end %>
      <% categories = draft_categories.uniq %>
      <% categories.each do |category| %>
        <li class= "btn small-btn-light btn-filter" data-action="click->category#showitems" data-category="<%= category %>"><%= category.capitalize %></li>
        <% end %>
    </ol>
  </div>
  <div class="col-10">
    <div class="cards">
      <% @robots.each do |robot| %>
        <div class="card" data-category-target="item" data-category="<%= robot.category %>">
          <div class="card-title"><%= link_to "#{robot.name}", robot %></div>
          <div class="card-photo"><%= image_tag robot.photo if robot.photo.attached? %></div>
          <div class="card-text"><%= "#{robot.price.round}€" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
