

<div class="container">
  <div class="row">
    <div class="col-12 d-flex align-content-start">
      <%= link_to "◀︎ Back to robots", robots_path %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <div class="card-show d-flex flex-column">
        <h1><%= @robot.name %></h1>
        <p>Very nice choice!</p>
        <p>You'll have a lot of fun with <%= @robot.name %>!!</p>
        <p><%= @robot.description %></p>
        <p>Such a jewel of technology for only <%= @robot.price.round %>€</p>
        <div class="card-photo-show"><%= image_tag @robot.photo if @robot.photo.attached? %></div>
        <div class="container d-flex justify-content-center mt-4 py-1">
          <%= link_to "Order", new_robot_order_path(@robot), class: "btn small-btn" %>
          <%= link_to "Edit", edit_robot_path(@robot), class: "btn small-btn" %>
          <%= link_to "Delete", robot_path(@robot), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn small-btn btn-outline" %>
        </div>
      </div>
    </div>
    <div class="col-6">
      Insert map here!
    </div>
    <div class="col-2"></div>
  </div>
</div>
