


<div class="container">
  <div class="row">
    <div class="col-4">
      <%= link_to "◀︎ Back to robots", robots_path %>
    </div>
    <div class="col-4">
      <h1>Here is your order for <%= @order.robot.name %></h1>

      <ul class= "attributes">
        <li><span class="robot-attribute">From: </span><%= @order.start_date %></li>
        <li><span class="robot-attribute">To: </span><%= @order.end_date %></li>
        <li><span class="robot-attribute">Status: </span><%= @order.status.present? ? @order.status : "pending" %></li>
        <li><span class="robot-attribute">Description: </span><%= @order.robot.description %></li>
      </ul>
      <div class="mt-4">
        <%= link_to "Edit", edit_order_path(@order), class: "link-color btn" %>
        <%= link_to "Delete", order_path(@order),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "link-color btn btn-outline"%>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
